.app.dark-mode{
      background-color:  rgb(25, 25, 25);

      .about p{
        color:  white;
      }
      .title{
        color: rgb(41, 41, 41);
      }

      .title h2{
         color: goldenrod;
      }
      .title p{
        color: white;
      }

      .creche h2{
        color: goldenrod;
      }
      .creche p{
        color: white;
      }
      .about h3{
        color: goldenrod;
      }

      .preschool h2{
        color: goldenrod;
      }
      .preschool p{
        color:  white;
      }

      .elementary h2{
        color: goldenrod;
      }
      .elementary p{
        color: white;
      }
      .elementary h3{
        color: aqua;
      }

      .blogText h3{
        color: goldenrod;
      }

      .blogText p{
        color: white;
      }

      .blogText h4{
         color:  aqua;
      }

      .contact-col h3{
        color: goldenrod;
      }
      .contact-col p{
        color: white;
      }

      .extracurriculum h2{
        color: goldenrod;
      }
    .extracurriculum h3{
        color: aqua;
    }
    .extracurriculum p{
        color: white;
    }

    .extracurriculum1 h3{
        color:  aqua;
    }
    .extracurriculum1 p{
        color: white;
    }

    .slide{
        background-color: rgb(41, 41, 41);
        color: white;
    };

    .user-info h3{
        color: rgb(61, 146, 232);
    }

    .contact-col ul li{
        color: white;
    }

    .hero-text h1{
       color:  rgb(1, 1, 68);
    }
    .academy{
      color:  rgb(255, 0, 0);
    }

    .arrowz{
      border: 1px solid white;
    }
    .arrowLeft, .arrowRight{
      color: white;
    }
}

