.creche{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.about-left{
    flex-basis: 40%;
    position: relative;
}

.about-right{
    flex-basis: 56%;
}

.creche img{
    width: 100%;
    border-radius: 10px;
}

.creche .play{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: white;
}

.creche h3{
    font-weight: 600;
    font-size: 20px;
    color: #022279;
}

.creche h2{
     margin: 10px 0;
     max-width: 400px;
    font-size: 35px;
    color:  #030d68;
}

.creche p{
    color: rgb(41, 41, 41);
    margin-bottom: 15px;
    font-size: 15px;
    margin: 0 15px;
    text-align: justify;
}

/* ------- media query ------ */

@media (max-width: 800px){
   .creche{
    flex-direction: column;
   }
   .about-left{
    flex-basis: 100%;
    margin: 20px;
    order: 2;
   }
   .about-right{
    flex-basis: 100%
   }

   .creche .play{
    width: 30px;
    height: 30px;
    top: 80%;
   }
}

/* ------- media query ------ */

@media (max-width: 600px){
    .creche h3{
        
        text-align: center;
     }
    .creche h2{
       font-size: 25px;
       text-align: center;
    }
    .creche .play{
        width: 50px;
        height: 40px;
    }

}